.formCareerRequest {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.formCareerRequest form {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}
.formSelect{
  padding: 6px;
}

.formSection {
  min-width: 200px;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 25px;
}

.optionStyle {
  padding: 10px;
}

.inputContainer {
  display: flex;
  margin-bottom: 5px;
}

.formGroup label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.formInput {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.inputInline {
  display: flex;
  align-items: center;
  gap: 10px;
}

.salaryInput {
  width: 100px;
}

.buttonAdd,
.buttonRemove {
  padding: 5px 13px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 3px;
}

.buttonAdd {
  background-color: #0b1a0b;
  color: #fff;
}

.buttonRemove {
  background-color: #7a1109;
  color: #fff;
}

.radioGroup {
  display: flex;
  gap: 20px;
}

  