.formCareerRequest {
  max-width: 650px;
  margin: 40px auto;
  padding: 30px 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  background-color: #e3e3e3;
}

.formCareerRequest form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 70px;
}
.formSelect{
  padding: 6px;
}

.formSection {
  min-width: 200px;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 28px;
}

.optionStyle {
  padding: 10px;
}

.inputContainer {
  display: flex;
  margin-bottom: 5px;
}

.formGroup label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 17px;
}

.formInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.inputInline {
  display: flex;
  align-items: center;
  gap: 10px;
}

.salaryInput {
  width: 100px;
}

.buttonAdd,
.buttonRemove {
  padding: 5px 13px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 3px;
}

.buttonAdd {
  background-color: #0b1a0b;
  color: #fff;
}

.buttonRemove {
  background-color: #7a1109;
  color: #fff;
}

.radioGroup {
  display: flex;
  gap: 20px;
}
.radioGroup label{
  margin-left: 10px;
}
.radioGroup input[type="radio"] {
  width: 12px; /* Adjust the width */
  height: 12px; /* Adjust the height */
  transform: scale(1.5); /* Scales the button for better visibility */
  margin-right: 5px; /* Adds spacing between the button and label */
}
.submitButton {
  margin-top: -50px;
  display: inline-block;
  padding: 10px 22px;
  background-color: #04170d; /* A nice blue color */
  color: #ffffff; /* White text */
  border: none;
  border-radius: 5px; /* Rounded corners */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth hover effect */
}

.submitButton:hover {
  background-color: #3c4146; /* Darker blue on hover */
}

.submitButton:active {
  background-color: #0b3125; /* Even darker blue on click */
}

.submitButton:disabled {
  background-color: #cccccc; /* Gray when disabled */
  cursor: not-allowed; /* Disabled cursor */
}