/* Card Container */
.cardContainer {
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 500px; /* Ensures space for the card */
  overflow: hidden; /* Prevents floating issues */
}

/* Card Styles */
.card {
  width: 380px;
  height: 550px;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  margin: 0 auto; /* Centers the card */
}

/* Flipped Card */
.card.flipped {
  transform: rotateY(180deg);
}

/* Front and Back Styles */
.front, .back {
  position: absolute;
  width: 90%;
  backface-visibility: hidden; /* Hides back side when not flipped */
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  padding: 15px 20px 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1; /* Ensures stacking context */
}

.front {
  margin-top: 50px;
  z-index: 2; /* Keeps front on top when not flipped */
  height: 250px; /* Adjust front height */
}

.back {
  margin-top: -2px;
  transform: rotateY(180deg); 
}

/* Form Container */
.form {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

/* Form Elements */
.input {
  width: 95%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
}

.inputGroup select {
  width: 100%;
}

.form label {
  font-weight: 500;
  padding-top: 3px;
}

/* Submit Button */
.submitbtn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #1675db;
  color: white;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
  margin: 22px 0 5px;
}

.submitbtn:hover {
  background-color: #165aa3;
  transform: scale(1.04);
}

/* Optional Header and Text Styles */
.h2 {
  text-align: center;
  margin-bottom: 8px;
  font-size: 25px;
}

.span {
  color: #007bff;
  cursor: pointer;
}

.span:hover {
  text-decoration: underline;
}




  